@use '../helpers' as *;
@use '../vendor/reasonable-colors' as *;
@use 'sass:list';
@use 'sass:color';

.code-imgs-columns {
	.column {
		position: relative;
		max-width: 300px;
		margin: 0 auto 20px;
		pre[class*='language-'] {
			margin: 0;
			padding: 12px 10px 16px 8px;
			font-size: 0.8rem;
			width: 100%;
			max-width: 100%;
			code {
				white-space: pre-wrap;
				font-size: 0.8rem;
				width: 100%;
				max-width: 100%;
			}
		}
		img {
			max-width: 100%;
			display: block;
			margin: 0;
			width: 100%;
		}
	}
	@include md {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5rem;
		.column {
			flex: 0 0 32%;
			max-width: 32%;
			margin: 0;
		}
	}

	@include lg {
		// justify-content: flex-start;
		.column {
			// flex: 0 0 250px;
			// max-width: 250px;
			// margin-right: 20px;
		}
	}
}

.code-img {
	position: relative;
	// background: hsl(0, 0%, 25%);
	background: color.adjust($color-teal-1, $lightness: 5%);
	margin-bottom: 1.5rem;

	.img-col {
		border-top: 1px solid $color-gray-2;
	}

	img,
	canvas {
		max-width: 300px;
		display: block;
		margin-top: 5px;
	}

	&.width-sm {
		@include md {
			--height: auto;
			--img-col: 250px;
			background: transparent;
			display: grid;
			grid-template-columns: 1fr var(--img-col);
			margin-right: 0;
			grid-column-gap: 20px;
			margin-bottom: 1.5rem;
			height: var(--height);
			pre[class*='language-'] {
				border-bottom: none;
				height: var(--height);
				width: 100%;
				overflow-y: auto;
			}
			.img-col {
				border-top: none;
				max-width: 100%;
				position: sticky;
				top: 1rem;
				margin: 0;
				align-self: start;
				justify-self: end;
				img,
				canvas {
					max-width: 100%;
				}
			}
		}
	}

	@include lg {
		--height: auto;
		--img-col: 250px;
		background: transparent;
		display: grid;
		grid-template-columns: 1fr var(--img-col);
		margin-right: calc(var(--img-col) * -1 - 20px);
		grid-column-gap: 20px;
		margin-bottom: 1.5rem;
		height: var(--height);
		pre[class*='language-'] {
			border-bottom: none;
			height: var(--height);
			width: 100%;
			overflow-y: auto;
		}
		.img-col {
			border-top: none;
			max-width: 100%;
			position: sticky;
			top: 1rem;
			margin: 0;
			align-self: start;
			justify-self: end;
			img,
			canvas {
				max-width: 100%;
			}
		}
	}

	pre[class*='language-'] {
		margin: 0;
		flex-grow: 1;
	}
}
