@use '../helpers' as *;
@use '../vendor/reasonable-colors' as *;
@use 'sass:list';
@use 'sass:color';

.content.post {
	.back {
		text-align: right;
		margin-top: 3rem;
	}
}

.post-list {
	max-width: 1000px;
	margin: 0 auto;
	.post-list-inner {
		@include sm {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 5%;
			.post-card.has-img {
				grid-row-end: span 2;
			}
		}
	}
}

.post-card {
	position: relative;
	// background-color: list.nth($turquoise_light, 8);
	background-color: color.adjust($color-teal-1, $lightness: 5%);
	margin-bottom: 3rem;
	color: $color-indigo-6;
	transition:
		box-shadow 400ms ease-in-out,
		background-position 400ms ease-in-out;
	display: flex;
	flex-direction: column;

	//prettier-ignore
	--box-shadow-1:
		2px 1px 4px #{color.adjust(list.nth($turquoise_dark, 7), $alpha: -0.9)},
		-11px 7px 24px #{color.adjust(list.nth($turquoise_dark, 7), $alpha: -0.8)},
		25px 20px 40px -20px #{color.adjust(list.nth($turquoise_dark, 7), $alpha: -0.5)};
	--box-shadow-2: 15px 10px 20px -10px #{color.adjust(list.nth($turquoise_dark, 7), $alpha: -0.8)};

	box-shadow: var(--box-shadow-2);
	background-image: linear-gradient(
		90deg,
		#{list.nth($space_light, 5)} 0,
		#{list.nth($space_light, 5)} 50%,
		#{$orange} 50%,
		#{$orange} 100%
	);
	background-size: 200% 6px;
	background-repeat: no-repeat;
	background-position: 0 100%;

	&:hover,
	&:focus {
		background-position: 100% 100%;
		box-shadow: var(--box-shadow-1);
	}

	.post-title {
		color: $magenta;
		margin-bottom: 0.6rem;
		font-weight: 500;
		display: inline-block;
		line-height: 1.2;
	}

	a.post-title {
		position: static;
		&:before {
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		&:focus {
			outline: none;
			&:before {
				outline: 2px solid $orange;
			}
		}
	}

	.post-info {
		padding: 1.5rem 1rem 1.3rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		.tags-list {
			position: relative;
			z-index: 2;
			margin-top: 1rem;
			flex-grow: 1;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-end;
		}
		@include sm {
			padding: 1.8rem 1.5rem 1.5rem;
		}
	}
	@include md {
		.post-title {
			margin-bottom: 0.8rem;
		}
	}
}

.post-card.post-card-images {
	padding: 0;
	position: relative;
	z-index: 1;

	.img-wrap {
		z-index: 1;
		.img-inner {
			padding-bottom: 44%;
		}
	}
}

.post-card-fw {
	.tags-list {
		margin-top: 0.3rem;
		text-align: right;
		justify-content: flex-end;
	}
}
