@use '../helpers' as *;
@use 'sass:list';
@use 'sass:color';

.items-list {
	.item {
		--imgSize: 230px;
		--top: calc((var(--imgSize) * 0.67) * 0.25);
		--imgBottom: calc((var(--imgSize) * 0.67) - var(--top));
		--sideCol: calc(var(--imgSize) * 0.15);
		--padSide: 1rem;
		position: relative;
		width: 100%;
		margin-bottom: 100px;
		z-index: 1;
		display: grid;
		grid-template-columns: var(--imgSize) 1fr;
		grid-template-rows: min-content min-content var(--imgBottom) auto;
		&:before {
			left: auto;
			right: 0;
		}

		.img {
			max-width: 380px;
			width: var(--imgSize);
			grid-column: 1;
			grid-row: 3;
			align-self: end;
			border: 2px solid #21c3a3;
			border-radius: 3px;
		}

		.title-link {
			display: block;
			grid-row: 1;
			grid-column: 2;
			padding-right: var(--padSide);
			text-align: right;
			margin-bottom: 0.3rem;
			margin-left: auto;
			&:hover,
			&:focus {
				color: $space;
			}
			h2.h4 {
				margin: 0;
			}
			&:after {
				content: none;
			}
		}
		.tags-list {
			pointer-events: none;
			grid-row: 2;
			grid-column: 1 / 3;
			margin-bottom: 0.5rem;
			width: calc(100% - var(--sideCol));
			padding-right: var(--padSide);
			text-align: right;
			margin-bottom: 0.3rem;
			margin-left: auto;
			.tag {
				pointer-events: all;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.work-item-content {
			background-color: color.adjust(list.nth($turquoise_light, 9), $alpha: -0.1);
			padding: 1rem var(--padSide);
			border-radius: 5px;
			grid-row: 3 / 5;
			grid-column: 1 / 3;
			box-shadow: 15px 10px 20px -10px
				#{color.adjust(list.nth($turquoise_dark, 7), $alpha: -0.8)};
			width: calc(100% - var(--sideCol));
			margin-left: auto;
		}

		@include xs-down {
			margin-right: -15px;
			margin-left: -15px;
			width: calc(100% + 30px);
			.title-link {
				grid-column: 1 / 3;
			}

			&:nth-child(2n) {
				.title-link {
					grid-column: 1 / 3;
				}
			}
		}

		@include xs {
			--imgSize: 270px;
			--top: calc((var(--imgSize) * 0.67) * 0.35);
			--sideCol: calc(var(--imgSize) * 0.35);
		}

		@include sm {
			--imgSize: 290px;
			--padSide: 2rem;
			--sideCol: calc(var(--imgSize) * 0.3);
			padding-top: 1rem;
			.title-link,
			.tags-list {
				margin-bottom: 0.5rem;
			}
			.work-item-content {
				padding-top: 1.5rem;
			}
		}

		@include md {
			--imgSize: 340px;
			margin-bottom: 150px;
		}
	}

	@include md {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.items-list {
	.item.work-item {
		.tags-list .tag {
			background: list.nth($orange_light, 3);
		}
		&:nth-child(2n) {
			grid-template-columns: 1fr var(--imgSize);
			.title-link {
				grid-column: 1;
			}
			.tags-list,
			.title-link {
				padding-left: var(--padSide);
				padding-right: 0;
				text-align: left;
				margin-left: 0;
			}
			.work-item-content {
				margin-left: 0;
			}
			.img {
				grid-column: 2;
			}

			@include xs-down {
				.title-link {
					grid-column: 1 / 3;
				}
			}
		}
	}
}
