---
title: home
footerScripts:
- https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js
- '/scripts/home.js'

---

{% extends './views/layouts/base.njk' %}

{% block baseContent %}
	<main id='main'>
		<div id='sketch'></div>

		<div class='wrapper'>
			<div class='title-wrap'>
				<h1 class="home-h1">michelle enos</h1>
				<div class="callout">
					<p class="description callout">
						hello! i'm a full-stack developer & creative coder based in philadelphia, pa.
					</p>
					<p>this is my web home for sharing <a href="/work">projects</a> and <a href="/notes">musings</a></p>.
				</div>
				<div class='animation-btn'>
					<button id='animate-toggle'>
					pause <br/> animation</button>
				</div>
			</div>
		</div>

		<div class="content wrapper wrapper-sm">
			<h2>featured notes</h2>
			{% set currentCollection = collections.post | head(2) %}

			{% include 'partials/post-list.njk' %}

			<div class='align-right'>
				<a href='/notes' >more notes →</a>
			</div>
		</div>

	</main>

{% endblock %}